/**
    Article
    ---------------------------------- */

.article-heading h1 {
    margin: 0 0 0.2em 0;
    font-weight: 800;
    font-size: 1.5em;
}
.article-heading-title-original .label {
    background-color: #3a87ad;
    color: #fff;
    font-size: 0.5em;;
}
.article-heading-title-translate .label {
    background-color: #468847;
    color: #fff;
    font-size: 0.5em;
}
.vertical.spacer {
    padding-top: 3em;
}
.horizontal.divider {
    border-top: 1px solid rgba(0,0,0,0.5);
}
.article-draft {					/* для статей со статусом draft */
	background-color: orange; 
	text-align: center;
}
.article-paragraph {
    padding: 0.5em 0;
}
    .article-paragraph > .wide-media {
        text-align: center;
    }
    .article-paragraph pre.code {
        border: 1px dashed #16a085;
        color: #16a085;
        background-color: #f9f9f9;
        padding: 1em;
        margin: 0;
    }
    .article-paragraph pre.code code {
        line-height: 1.5em;
        white-space: pre-line;
    }
    .article-paragraph code {
        background-color: #f9f9f9;
        padding: 2px;
    }
    .article-paragraph code small {
        font-size: 0.7em;
    }
    .article-paragraph dd, .article-paragraph li {
        margin: 0;
        padding: 0;
    }
    .article-paragraph ol, .article-paragraph dl, .article-paragraph ul {
        margin: 0.25em 0;
        padding: 0 0 0 2em;
    }
    .article-paragraph blockquote {
        display: block;
        font-style: italic;
        clear: both;
    }
    .article-paragraph blockquote em:before {
        color: #bbb;
        content: "\201C";
        font-size: 3em;
        line-height: 0.1em;
        margin-right: 0.2em;
        vertical-align: -.4em;
    }
    .article-paragraph blockquote em:after {
        color: #bbb;
        content: "\201D";
        font-size: 3em;
        line-height: 0.1em;
        vertical-align: -.45em;
    }
    .article-paragraph blockquote em {
        display: block;
        margin: 0.25em 0;
        padding: 0 0 0 2em;
    }
    .article-paragraph blockquote a, .article-paragraph blockquote cite {
        display: inline-block;
        float: right;
        font-size: 0.9em;
        color: #7f8c8d;
        text-align: right;
    }
    .article-paragraph blockquote a:before, .article-paragraph blockquote cite:before {
        content: '—';
        margin-right: 0.5em;
    }
    .article-paragraph blockquote a {
        color: #7f8c8d;
        text-align: right;
        text-decoration: none;
    }

.article-footnote {
    color: #999;
    margin-top: 1em;
}

/* Media Queries */
.article-heading .col:nth-child(2) {
    padding-left: 60px;
}

.article-paragraph .col:nth-child(2) {
    padding-left: 60px;
}

@media (min-width: 992px) {
    .article-heading .col {
        padding-left: 0 !important;
    }

    .article-paragraph .col {
        padding-left: 0 !important;
    }
}

/**
    Articles list & search
    ---------------------------------- */

.articles.list .article {
    background: #fff;
    padding: 2em;
    margin-bottom: 4em;
    transition: box-shadow 0.25s;
}

    .articles.list .article:hover {
        box-shadow: 0 10px 40px rgba(0,0,0,.04);
    }

.articles.list .article-more {
    text-align: center;
}

    .articles.list .article-more a {
        display: inline-block;
        font-size: 12px;
        line-height: 20px;
        border: 1px solid rgba(0,0,0,.09);
        border-radius: 20px;
        padding: 10px;
        background: #fff;
        transition: box-shadow 0.25s 0.2s, background .25s 0.3s;
    }

        .articles.list .article:hover .article-more a {
            background: #eee;
            box-shadow: 0 1px 4px rgba(0,0,0,.1);
        }

    .article .article-paragraph a {
        text-decoration: none;
        color: inherit;
    }

    .articles.list.two-columns .article {
        margin-bottom: 2em;
        max-height: 250px;
        overflow: hidden;
    }

    .articles.list.two-columns .article .article-heading {
        font-size: 12px;
    }

/**
    Article editor
    ---------------------------------- */

.article-form .article-paragraphs {
    position: relative;
    margin-bottom: 3em;
}

.article-form .article-paragraphs textarea {
    width: 100%;
}

.article-form .article-paragraphs .editable {
    display: block;
    width: 100%;
    background: rgba(255,255,255,0.9);
    border: 1px solid rgba(0,0,0,0.1);
    min-width: 100%;
    max-width: 100%;
}

.article-form .article-paragraph {
    position: relative;
}
    .article-form .article-paragraph-add {
        position: absolute;
        left: 50%;
        bottom: 36px;
    }
    .article-form .article-paragraphs .article-paragraph-add:first-child {
        top: -36px;
        bottom: auto;
    }

    /** анимация кнопки добавления параграфа */
    .article-form .article-paragraph-add a {
        font-size: 28px;
        left: -28px;
        position: absolute;
        transform: translateY(0);
        opacity: 0;
        transition: transform .15s, opacity .15s;
    }
        .article-form .article-paragraph:hover .article-paragraph-add a {
            transform: translateY(10px);
            opacity: 1;
        }

    .article-paragraphs-active:hover>.article-paragraph-add a {
        transform: translateY(10px);
        opacity: 1;
    }

    /** анимация кнопки удаления параграфа */
    .article-form .article-paragraph-remove {
        position: absolute;
        top: 0;
        right: 50%;
        opacity: 0;
        transition: top 0.15s, opacity 0.15s 0.05s;
    }
        .article-form .article-paragraph-remove a {
            font-size: 28px;
            position: absolute;
            left: -27px;
        }
        .article-form .article-paragraph:hover {
            background-color: rgba(200,200,200,0.1);
        }
        .article-form .article-paragraph:hover .article-paragraph-remove {
            top: 10px;
            opacity: 1;
        }

    /** шаблон нового параграфа */
    .article-form .article-paragraph-new {
        display: none;
    }
    .article-form .article-paragraph-new .article-paragraph-remove {
        display: none;
    }

    .article-paragraph-remove { /* удаление параграфов не реализовано */
        display: none !important;
    }

.expandingArea textarea,
.expandingArea pre {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

.expandingArea {
    position: relative;
    /*border: 1px solid #888;*/
    background: #fff;
}

.expandingArea > textarea,
.expandingArea > pre {
    padding: 5px;
    background: transparent;
    /*font: 400 13px/16px helvetica, arial, sans-serif;*/
    font: inherit;
    /* Make the text soft-wrap */
    white-space: pre-wrap;
    word-wrap: break-word;
}

.expandingArea > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /* This height is used when JS is disabled */
    height: 100px;
}

.expandingArea.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none;
}

.expandingArea > pre {
    display: none;
}
.expandingArea.active > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden;
}