html,
body {
    font-size: 16px;
    height: 100%;
    background: #fff;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 60px 0 0 0;
    background-image: url('/img/dots-dark.png');
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.navbar.navbar-fixed-top {
    background: #fff;
    padding: 30px 0 20px 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

    .navbar.navbar-fixed-top .lnk.lnk-publish {
        margin-left: 40px;
    }

    .navbar.navbar-fixed-top .navbar-form {
        margin-top: 0;
    }

    .navbar.navbar-fixed-top .btn.btn-link, .navbar.navbar-fixed-top .link a {
        color: #333;
        background: #fff;
        border: 1px solid transparent;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .navbar.navbar-fixed-top .btn.btn-link:hover, .navbar.navbar-fixed-top .link:hover a {
        background: #fff;
        border-color: #eee;
        text-decoration: none;
    }

    .navbar.navbar-fixed-top .fa.fa-2x {
        margin-top: -8px;
        color: #999;
        vertical-align: -20%;
    }
    .navbar.navbar-fixed-top .navbar-form.navbar-search-form {
        margin: 0;
        padding: 10px;
    }
    .navbar.navbar-fixed-top .navbar-form.navbar-search-form .form-control {
        padding: 10px;
    }
    .navbar.navbar-fixed-top .navbar-dropdown-profile {
        padding-top: 10px;
    }
        .navbar.navbar-fixed-top .navbar-dropdown-profile .btn.dropdown-toggle {
            border-style: none;
        }

.footer {
    background-color: #333;
    border-top: 1px solid #ddd;
    padding: 40px 0;
    color: #ccc;
}

    .footer ul {
        list-style: none;
        margin: 0;
    }
        .footer ul li {
            list-style: none;
            padding: 0 0 10px 0;
        }

        .footer ul li.brand-name {
            color: #fff;
        }

    .footer a {
        color: #ccc;
    }

        .footer a:hover {
            color: #fff;
            text-decoration: none;
        }

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.float-left {
    float: left;
}
